.carousel {
  display: flex;
}

.carousel__track {
  flex: 1;
  white-space: nowrap;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  /*
    Using "overflow: scroll;" would be more accessible as user can choose to
    scroll the carousel via mouse/ trackpad. This would need additional
    onScroll handlers to ensure the component's "currentSlideIndex" state is in sync.

    It seems out of the scope of this task, but a nice to consider in real world project.
  */
  overflow: hidden;
  height: 200px;
}

.slide {
  height: 100%;
  display: inline-block;
  padding: 30px;
  scroll-snap-align: start;
}

.slide__content {
  height: 100%;
  display: flex;
  border: 1px solid;
  padding: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-navigation {
  font-size: 2rem;
}
