.carousel {

}

.carousel--track {
  display: flex;
  width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

.slide {
  padding: 30px;
  flex: 1;
}

.slide__content {
  border: 1px solid #333;
  padding: 30px;
  text-align: center;
}
